/* This css is for services html page  */

body {
    font-family: 'Lexend';
}
:root{
    --main-color: #ffffff;
    --secondary-color: #ff6310;
    --another-color: #1E262E;
    --another-color-2: #FEEEDD;
    --icon-color: #fd7c47;
}
.nav-link{
    color: var(--another-color);
}
.nav-link:hover{
    color: var(--secondary-color);
}
.active{
    color: var(--secondary-color)!important;
}
.nav-sect{
    width: 100%;
    height: 130px;
    background-attachment: fixed;
}

/* Hero section starts  */
.content{
    padding-left: 50px;
}
.service-hero{
    padding-top: 80px;
    line-height: 50px;
}
.hero-cont{
    background-color: var(--secondary-color);
}
.btn-hero{
    background-color: var(--another-color);
    text-transform: capitalize;
    padding: 11px 17px;
}
.btn-spn{
    font-size: 15px;
}
.container-fluid-2{
    padding-left: 70px;
    padding-right: 70px;
}
.hero-cont-2{
    background-color: var(--another-color-2);
}
.icon{
    color: var(--icon-color);
}
/* Hero section ends */


/* footer section starts */

.foot-sect{
    padding-top: 500px;
}
.foot-img{
    width: 75px;
    height: 100px;
}
.foot-content{
    display: flex;
    flex-direction: row;
}
/* footer section ends */
