body {
    font-family: 'Poppins';
}
:root{
    --main-color: #ffffff;
    --secondary-color: #ff6310;
    --another-color: #1E262E;
}
.nav-link{
    color: var(--another-color);
}
.nav-sect{
    width: 100%;
    height: 130px;
}
.hero-title{
    width: 100%;
    height: 300px;
}
.hero-content{
    color: var(--secondary-color);
    font-weight: 700;
}